* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: red solid 1px;
  font-family: "Oxanium", cursive;
  font-family: "Noto Sans TC", sans-serif;
  list-style: none;
}
nav {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
  > .navbar {
    position: relative;
    z-index: 1;
    // display: grid;
    display: flex;
    // grid-template-columns: repeat( 9, minmax(250px, 1fr) );
    list-style: none;
    // justify-items: center;
    align-items: flex-end;
    // text-align: center;
    // gap: 10px;
    > li > a {
      text-decoration: none;
      color: black;
    }
    > li {
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      // margin-left: 5px;
      // margin-right: 5px;
      font-weight: 900;
      letter-spacing: 0.2rem;
    }

    > li:nth-child(1n + 2) {
      padding: 10px;
    }
    > li:nth-child(1n + 2):hover {
      background-color: black;
      color: white;
    }
    > li:nth-child(1n + 2):hover > a {
      background-color: black;
      color: white;
    }
    > li:nth-child(1n + 1):hover > ul {
      background-color: rgb(22, 22, 22);
      color: white;
    }
    > li:nth-child(1) {
      background-image: url(../img/logo2.png);
      background-position: center;
      background-size: cover;
      width: 70px;
      padding-top: 70px;
      margin: 10px;
      > a {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0px;
      }
    }
    > li:nth-child(1n + 2):hover > ul {
      display: grid;
    }
    > li:nth-child(1n + 2) > ul {
      display: none;
      grid-template-columns: repeat(5, 1fr);
      list-style: none;
      position: fixed;
      right: 0;
      width: 100%;
      padding-left: 60px;
      padding-right: 30px;
      margin-top: 10px;
    }
    > li:nth-child(1n + 1):hover > ul > li > a {
      // font-weight: 900;
      text-decoration: none;
      // display: block;
      display: inline;
      color: rgb(212, 212, 212);
      line-height: 1.2;
    }
    > li:nth-child(1n + 1):hover > ul > li > a:nth-child(1) {
      font-weight: 900;
      color: white;
      display: inline;

      // background-color: red;
      // padding-top: 30px;
    }
    > li:nth-child(1n + 1):hover > ul > li {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: column;
      // display: inline-grid;
      // grid-template-columns: repeat(1,1fr);
      padding-top: 30px;
      padding-bottom: 30px;
    }
    > li:nth-child(1n + 1):hover > ul > li:nth-child(5) {
      background-image: url(../img/pattern_stars.png);
    }
  }

  > .search {
    position: absolute;
    top: 1rem;
    right: 1rem;
    > ul {
      display: flex;
      list-style: none;
      gap: 10px;
      > li:nth-child(1) {
        font-weight: 900;
        font-size: 0.8rem;
      }
      > li:nth-child(1)::before {
        content: "";
        display: inline-block;
        background-image: url(../img/header_utility_list.png);
        width: 1.2rem;
        height: 1.2rem;
        background-size: 300%;
        vertical-align: bottom;
        background-position: 50% 0%;
      }
      > li:nth-child(2) {
        > form {
          // padding-top: 5px;
          padding-left: 5px;
          > input:nth-child(1) {
            padding: 0.1rem;
          }
          > input:nth-child(2) {
            background-color: black;
            color: white;
            padding: 0.2rem;
            font-size: 0.8rem;
            border: none;
          }
        }
      }
    }
  }
}
button.hamburger {
  display: none;
  outline: none;
}
.btnlist {
  &:focus {
    outline: none;
  }
  position: absolute;
  z-index: 3;
  width: 100%;
  display: none;
  outline: none;

  > ul {
    background-color: #272727;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    list-style: none;

    > li {
      > a {
        text-decoration: none;
        color: white;
        line-height: 2;
        font-weight: 900;
      }
    }
  }
}
@media (max-width: 900px) {
  .navbar > li:nth-child(1n + 2) {
    display: none;
  }
  .search {
    display: none;
  }
  button.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    visibility: visible;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
  }
}
.crumbs {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1500px;
  > a {
    text-decoration: none;
    color: #505050;
  }
  > span {
    color: #505050;
  }
}
.bg1 {
  display: grid;
  background-color: #272727;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  > div:nth-child(1) {
    // background-image: url(../img/MSR-partial_star.png);
    // padding-top: 20%;
    // background-position: 80% 0%;
    // background-size: 50%;
    // background-repeat: no-repeat;
    > img {
      // z-index: 100;
      max-width: 100%;
      padding-left: 25%;
    }
  }
  > div:nth-child(2) {
    // padding-top: 5%;
    padding-left: 5%;
    > p:nth-child(1) {
      color: white;
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1.5;
    }
    > p:nth-child(2) {
      color: white;
      // font-size: 1.5rem;
      // font-weight: 900;
      line-height: 1.5;
    }
    > input:nth-child(3) {
      background-color: #e3c383;
      color: #272727;
      padding: 10px 20px 10px 20px;
      border: none;
      border-radius: 5%;
      margin-top: 10px;
      outline: none;
    }
    > input:nth-child(4) {
      background-color: #272727;
      color: #ffffff;
      padding: 10px 20px 10px 20px;
      border: white 1px solid;
      border-radius: 5%;
      font-weight: 400;
      margin-top: 10px;
      margin-left: 10px;
      outline: none;
      transition: ease 0.5s;
    }
    > input:nth-child(4) {
      background-color: #000000;
      color: rgb(255, 255, 255);
      transition: 0.5s;
      &:hover {
        background-color: rgb(255, 255, 255);
        color: #000000;
      }
    }
  }
  @media (max-width: 768px) {
    & {
      grid-template-columns: repeat(1, 1fr);
      > div:nth-child(1) {
        > img {
          max-width: 80%;
          text-align: center;
          justify-items: center;
          padding-left: 25%;
        }
      }
      > div:nth-child(2) {
        text-align: center;
        // color: yellow;
        margin-bottom: 3%;
      }
    }
  }
}
> a:nth-child(2) {
  display: inline-block;
  width: 100%;
  height: 100%;
  // height: 26.5vw;
  // min-height: 520px;
  position: absolute;
  top: 0;
  left: 0;
  @media screen and (max-width: 768px) {
    & {
      height: 122vw;
    }
  }
}
> img:nth-child(3) {
  width: 100%;
  display: none;
  @media screen and (max-width: 768px) {
    & {
      display: block;
    }
  }
}

.bg2 {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 80%;
  margin: auto;
  // justify-items: center;
  // align-items: center;
  font-size: 0;
  padding: 0 3% 0 7%;

  > div:nth-child(1) {
    // justify-self: center;
    padding-left: 10%;
    align-self: center;
    // justify-self: end;
    // margin-right: 2rem;
    font-size: 1rem;
    // margin-top: 2rem;
    > h2:nth-child(1) {
      font-weight: 400;
    }
    > hr:nth-child(3) {
      border: none;
      border-bottom: 1px solid #aaaaaa;
      margin: 1rem 0;
      width: 120%;
      // z-index: 100;
      transform: translateX(0rem);
    }
    > p:nth-child(1n + 3) {
      line-height: 1.5;
      font-size: 1rem;
      font-weight: 500;
    }
    > a {
      line-height: 2;
      text-decoration: none;
      font-weight: 900;
      color: #000000;
      font-size: 1rem;
      display: block;
    }
  }
  > div:nth-child(2) {
    > img {
      width: 100%;
      vertical-align: middle;
    }
  }
}
@media screen and (max-width: 768px) {
  .bg2 {
    width: 100%;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
    > div:nth-child(1) {
      justify-self: center;
      padding: 0;
      order: 1;
      > h2,
      p,
      a {
        padding: 0 1rem;
      }
      >p{
        margin-bottom: 1rem;
      }
      > hr {
        display: none;
      }
    }
    > div:nth-child(2) {
    }
  }
}
.bg3 {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 80%;
  margin: 0 auto;
  // justify-items: center;
  // align-items: center;
  font-size: 0rem;
  padding: 0 7% 0 3%;

  > div:nth-child(1) {
    > img {
      width: 100%;
    }
  }
  > div:nth-child(2) {
    // justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
    > h2:nth-child(1) {
      font-weight: 400;
    }
    > hr:nth-child(2) {
      border: none;
      border-bottom: 1px solid #aaaaaa;
      margin: 1rem 0;
      width: 100%;
      z-index: 3;
      // position: relative;
      // right: 17%;
    }
    > p:nth-child(1n + 3) {
      line-height: 1.5;
      font-weight: 500;
    }
    > a {
      line-height: 2;
      display: block;
      text-decoration: none;
      font-weight: 900;
      color: #000000;
      letter-spacing: 1px;
    }
  }
}
@media screen and (max-width: 768px) {
  .bg3 {
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
    > div:nth-child(2) {
      justify-self: center;
      margin: 0px;
      padding: 0;
      padding: 0 1rem;
      > hr:nth-child(2) {
        // width: 60%;
        display: none;
      }
    }
  }
}
.footer {
  width: 70%;
  margin: 0 auto;
  display: grid;
  // justify-items: start;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10% 0% 0% 0%;
  > div {
    > ul {
      list-style: none;
      position: relative;

      > li {
        > a {
          text-decoration: none;
          color: rgb(22, 22, 22);
          line-height: 2;
          font-weight: 400;
        }
      }
      > li:nth-child(1) {
        > a {
          font-size: 1.2rem;
          font-weight: 900;
        }
      }
    }
  }
}
// .footerImg {
//   background-image: url(../img/logotext2.png);
//   padding-top: 100%;
//   background-size: 22%;
//   background-repeat: no-repeat;
//   align-self: end;
//   justify-self: end;
//   text-align: right;
//   position: absolute;
//   right: 0;
// }
.footerImgUl {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.footerImg {
  > a {
    > img {
      width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 0rem;
    margin-top: 2rem;
    width: 100%;
    background-color: #f0f0f0;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    > div:nth-child(1n) {
      > ul {
        > li:nth-child(1n + 2) {
          display: none;
        }
      }
    }
    > div:nth-child(5) {
      display: none;
    }
  }
}
.footer > div:nth-child(1n):hover > ul > li {
  display: block;
}
