* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oxanium", cursive;
  font-family: "Noto Sans TC", sans-serif;
  list-style: none;
}

nav {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
}

nav > .navbar {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav > .navbar > li > a {
  text-decoration: none;
  color: black;
}

nav > .navbar > li {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 900;
  letter-spacing: 0.2rem;
}

nav > .navbar > li:nth-child(1n + 2) {
  padding: 10px;
}

nav > .navbar > li:nth-child(1n + 2):hover {
  background-color: black;
  color: white;
}

nav > .navbar > li:nth-child(1n + 2):hover > a {
  background-color: black;
  color: white;
}

nav > .navbar > li:nth-child(1n + 1):hover > ul {
  background-color: #161616;
  color: white;
}

nav > .navbar > li:nth-child(1) {
  background-image: url(../img/logo2.png);
  background-position: center;
  background-size: cover;
  width: 70px;
  padding-top: 70px;
  margin: 10px;
}

nav > .navbar > li:nth-child(1) > a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0px;
}

nav > .navbar > li:nth-child(1n + 2):hover > ul {
  display: -ms-grid;
  display: grid;
}

nav > .navbar > li:nth-child(1n + 2) > ul {
  display: none;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  list-style: none;
  position: fixed;
  right: 0;
  width: 100%;
  padding-left: 60px;
  padding-right: 30px;
  margin-top: 10px;
}

nav > .navbar > li:nth-child(1n + 1):hover > ul > li > a {
  text-decoration: none;
  display: inline;
  color: #d4d4d4;
  line-height: 1.2;
}

nav > .navbar > li:nth-child(1n + 1):hover > ul > li > a:nth-child(1) {
  font-weight: 900;
  color: white;
  display: inline;
}

nav > .navbar > li:nth-child(1n + 1):hover > ul > li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav > .navbar > li:nth-child(1n + 1):hover > ul > li:nth-child(5) {
  background-image: url(../img/pattern_stars.png);
}

nav > .search {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

nav > .search > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 10px;
}

nav > .search > ul > li:nth-child(1) {
  font-weight: 900;
  font-size: 0.8rem;
}

nav > .search > ul > li:nth-child(1)::before {
  content: "";
  display: inline-block;
  background-image: url(../img/header_utility_list.png);
  width: 1.2rem;
  height: 1.2rem;
  background-size: 300%;
  vertical-align: bottom;
  background-position: 50% 0%;
}

nav > .search > ul > li:nth-child(2) > form {
  padding-left: 5px;
}

nav > .search > ul > li:nth-child(2) > form > input:nth-child(1) {
  padding: 0.1rem;
}

nav > .search > ul > li:nth-child(2) > form > input:nth-child(2) {
  background-color: black;
  color: white;
  padding: 0.2rem;
  font-size: 0.8rem;
  border: none;
}

button.hamburger {
  display: none;
  outline: none;
}

.btnlist {
  position: absolute;
  z-index: 3;
  width: 100%;
  display: none;
  outline: none;
}

.btnlist:focus {
  outline: none;
}

.btnlist > ul {
  background-color: #272727;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  list-style: none;
}

.btnlist > ul > li > a {
  text-decoration: none;
  color: white;
  line-height: 2;
  font-weight: 900;
}

@media (max-width: 900px) {
  .navbar > li:nth-child(1n + 2) {
    display: none;
  }
  .search {
    display: none;
  }
  button.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    visibility: visible;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
  }
}

.crumbs {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1500px;
}

.crumbs > a {
  text-decoration: none;
  color: #505050;
}

.crumbs > span {
  color: #505050;
}

.bg1 {
  position: relative;
  width: 100%;
}

.bg1 > img:nth-child(1) {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .bg1 > img:nth-child(1) {
    height: 60vw;
  }
}

.bg1 > div {
  position: absolute;
  top: 30%;
  left: 50%;
  padding: 0% 3%;
}

.bg1 > div > h2:nth-child(1) {
  text-align: center;
  color: white;
  text-shadow: 0 0 4px black;
  line-height: 2;
}

.bg1 > div > p:nth-child(2),
.bg1 > div p:nth-child(3) {
  text-align: center;
  color: white;
  text-shadow: 0 0 4px black;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .bg1 > div {
    display: none;
  }
}

.bg1text {
  display: none;
  padding: 20px;
  line-height: 1.8;
}

.bg1text > h2 {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .bg1text {
    display: block;
  }
}

.G {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  position: relative;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .G {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .G {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.G > div {
  position: relative;
}

.G > div:hover div {
  background-color: rgba(0, 0, 0, 0.5);
}

.G > div:hover div::before {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  opacity: 1;
}

.G > div:hover div::after {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  opacity: 1;
}

.G > div > img {
  width: 100%;
  height: 100%;
}

.G > div > div {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
}

.G > div > div > a {
  position: absolute;
  width: calc(100% - 20px);
  height: 100%;
  top: 0;
}

.G > div > div:hover h1 {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.G > div > div::before {
  content: "";
  display: block;
  border-top: 1px springgreen solid;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  top: 0rem;
  width: 90%;
}

.G > div > div::after {
  content: "";
  display: block;
  border-top: 1px springgreen solid;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  width: 90%;
  position: absolute;
  bottom: 0rem;
}

.G > div > div > h1 {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 0 0 4px black;
}

.footer {
  width: 70%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10% 0% 0% 0%;
}

.footer > div > ul {
  list-style: none;
  position: relative;
}

.footer > div > ul > li > a {
  text-decoration: none;
  color: #161616;
  line-height: 2;
  font-weight: 400;
}

.footer > div > ul > li:nth-child(1) > a {
  font-size: 1.2rem;
  font-weight: 900;
}

.footerImgUl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.footerImg > a > img {
  width: 100%;
}

@media (max-width: 768px) {
  .footer {
    padding: 0rem;
    margin-top: 2rem;
    width: 100%;
    background-color: #f0f0f0;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .footer > div:nth-child(1n) > ul > li:nth-child(1n + 2) {
    display: none;
  }
  .footer > div:nth-child(5) {
    display: none;
  }
}

.footer > div:nth-child(1n):hover > ul > li {
  display: block;
}
/*# sourceMappingURL=life.css.map */