* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oxanium", cursive;
  font-family: "Noto Sans TC", sans-serif;
  list-style: none;
}

nav {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
}

nav > .navbar {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav > .navbar > li > a {
  text-decoration: none;
  color: black;
}

nav > .navbar > li {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 900;
  letter-spacing: 0.2rem;
}

nav > .navbar > li:nth-child(1n + 2) {
  padding: 10px;
}

nav > .navbar > li:nth-child(1n + 2):hover {
  background-color: black;
  color: white;
}

nav > .navbar > li:nth-child(1n + 2):hover > a {
  background-color: black;
  color: white;
}

nav > .navbar > li:nth-child(1n + 1):hover > ul {
  background-color: #161616;
  color: white;
}

nav > .navbar > li:nth-child(1) {
  background-image: url(../img/logo2.png);
  background-position: center;
  background-size: cover;
  width: 70px;
  padding-top: 70px;
  margin: 10px;
}

nav > .navbar > li:nth-child(1) > a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0px;
}

nav > .navbar > li:nth-child(1n + 2):hover > ul {
  display: -ms-grid;
  display: grid;
}

nav > .navbar > li:nth-child(1n + 2) > ul {
  display: none;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  list-style: none;
  position: fixed;
  right: 0;
  width: 100%;
  padding-left: 60px;
  padding-right: 30px;
  margin-top: 10px;
}

nav > .navbar > li:nth-child(1n + 1):hover > ul > li > a {
  text-decoration: none;
  display: inline;
  color: #d4d4d4;
  line-height: 1.2;
}

nav > .navbar > li:nth-child(1n + 1):hover > ul > li > a:nth-child(1) {
  font-weight: 900;
  color: white;
  display: inline;
}

nav > .navbar > li:nth-child(1n + 1):hover > ul > li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav > .navbar > li:nth-child(1n + 1):hover > ul > li:nth-child(5) {
  background-image: url(../img/pattern_stars.png);
}

nav > .search {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

nav > .search > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 10px;
}

nav > .search > ul > li:nth-child(1) {
  font-weight: 900;
  font-size: 0.8rem;
}

nav > .search > ul > li:nth-child(1)::before {
  content: "";
  display: inline-block;
  background-image: url(../img/header_utility_list.png);
  width: 1.2rem;
  height: 1.2rem;
  background-size: 300%;
  vertical-align: bottom;
  background-position: 50% 0%;
}

nav > .search > ul > li:nth-child(2) > form {
  padding-left: 5px;
}

nav > .search > ul > li:nth-child(2) > form > input:nth-child(1) {
  padding: 0.1rem;
}

nav > .search > ul > li:nth-child(2) > form > input:nth-child(2) {
  background-color: black;
  color: white;
  padding: 0.2rem;
  font-size: 0.8rem;
  border: none;
}

button.hamburger {
  display: none;
  outline: none;
}

.btnlist {
  position: absolute;
  z-index: 3;
  width: 100%;
  display: none;
  outline: none;
}

.btnlist:focus {
  outline: none;
}

.btnlist > ul {
  background-color: #272727;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  list-style: none;
}

.btnlist > ul > li > a {
  text-decoration: none;
  color: white;
  line-height: 2;
  font-weight: 900;
}

@media (max-width: 900px) {
  .navbar > li:nth-child(1n + 2) {
    display: none;
  }
  .search {
    display: none;
  }
  button.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    visibility: visible;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
  }
}

.crumbs {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1500px;
}

.crumbs > a {
  text-decoration: none;
  color: #505050;
}

.crumbs > span {
  color: #505050;
}

.bg1 {
  font-size: 0;
  position: relative;
  width: 100%;
}

.bg1 > img:nth-child(1) {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .bg1 > img:nth-child(1) {
    display: none;
  }
}

.bg1 > a:nth-child(2) {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .bg1 > a:nth-child(2) {
    height: 122vw;
  }
}

.bg1 > img:nth-child(3) {
  width: 100%;
  display: none;
}

@media screen and (max-width: 768px) {
  .bg1 > img:nth-child(3) {
    display: block;
  }
}

.bg2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  width: 80%;
  margin: auto;
  font-size: 0;
  padding: 0 3% 0 7%;
}

.bg2 > div:nth-child(1) {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 2rem;
  font-size: 1rem;
  margin-top: 2rem;
}

.bg2 > div:nth-child(1) > hr:nth-child(2) {
  border: none;
  border-bottom: 1px solid #aaaaaa;
  margin: 1rem 0;
  width: 120%;
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

.bg2 > div:nth-child(1) > p:nth-child(1n + 3) {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
}

.bg2 > div:nth-child(1) > a:nth-child(4) {
  line-height: 3;
  text-decoration: none;
  font-weight: 900;
  color: #000000;
  font-size: 1rem;
}

.bg2 > div:nth-child(2) > img {
  width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .bg2 {
    width: 100%;
    padding: 0;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
  }
  .bg2 > div:nth-child(1) {
    -ms-grid-column-align: start;
        justify-self: start;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .bg2 > div:nth-child(1) > h2,
  .bg2 > div:nth-child(1) p,
  .bg2 > div:nth-child(1) a {
    padding: 0 1rem;
  }
  .bg2 > div:nth-child(1) > hr:nth-child(2) {
    width: 60%;
  }
}

.bg3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  width: 80%;
  margin: 0 auto;
  font-size: 0rem;
  padding: 0 7% 0 3%;
}

.bg3 > div:nth-child(1) > img {
  width: 100%;
}

.bg3 > div:nth-child(2) {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 1rem;
}

.bg3 > div:nth-child(2) > hr:nth-child(2) {
  border: none;
  border-bottom: 1px solid #aaaaaa;
  margin: 1rem 0;
  width: 120%;
  z-index: 3;
  position: relative;
  right: 17%;
}

.bg3 > div:nth-child(2) > p:nth-child(1n + 3) {
  line-height: 1.5;
  font-weight: 500;
}

.bg3 > div:nth-child(2) > a:nth-child(4) {
  line-height: 3;
  text-decoration: none;
  font-weight: 900;
  color: #000000;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .bg3 {
    width: 100%;
    padding: 0;
    margin: 0;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .bg3 > div:nth-child(2) {
    margin: 0px;
    padding: 0;
    padding: 0 1rem;
  }
  .bg3 > div:nth-child(2) > hr:nth-child(2) {
    width: 60%;
  }
}

.footer {
  width: 70%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10% 0% 0% 0%;
}

.footer > div > ul {
  list-style: none;
  position: relative;
}

.footer > div > ul > li > a {
  text-decoration: none;
  color: #161616;
  line-height: 2;
  font-weight: 400;
}

.footer > div > ul > li:nth-child(1) > a {
  font-size: 1.2rem;
  font-weight: 900;
}

.footerImgUl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.footerImg > a > img {
  width: 100%;
}

@media (max-width: 768px) {
  .footer {
    padding: 0rem;
    margin-top: 2rem;
    width: 100%;
    background-color: #f0f0f0;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .footer > div:nth-child(1n) > ul > li:nth-child(1n + 2) {
    display: none;
  }
  .footer > div:nth-child(5) {
    display: none;
  }
}

.footer > div:nth-child(1n):hover > ul > li {
  display: block;
}
/*# sourceMappingURL=product.css.map */